input, select { border-color: rgba(6, 45, 117, 0.67)!important; margin:0; padding: 0; font-size: 14px;}
label{
  margin:0px;
  padding:0;
}
body{
  color: #062D75!important;
  font-size:14px;
  font-family: Roboto;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.mb-3.border.p-2.rounded{
  border-color:rgba(6, 45, 117, 0.20)!important;
}
.bg-img{
  background: url( "./waves.png") no-repeat #3F5ACA;
  background-position: center bottom;
  background-size: contain;
  min-height: 171px;
}
.logo{
  padding-top: 40px;
  bottom: 0;
}
.navigation{
  padding-top: 60px;
  color: #ffffff;
  text-align: right;
  bottom: 0;
}
.link{
  color: #ffffff!important;
}
.active {
  font-weight: bold;
  color: #f0f0f0;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
